.marquee-wrapper {
  width: 100vw;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
}

.marquee {
  display: flex;
  width: fit-content;
  animation: scroll-marquee 40s linear infinite;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-content {
  display: flex;
}

.stamp {
  display: inline-flex;
  white-space: nowrap;
  flex-shrink: 0;
  font-size: 1.25rem;
  padding-right: 0.8rem;
}

.location-stamp,
.date-stamp {
  display: inline;
}

.location-stamp {
  font-family: "Unica", sans-serif;
  color: #000;
  position: relative;
}

.date-stamp {
  font-family: "Unica", sans-serif;
  cursor: default;
}

.location-stamp a {
  text-decoration: none;
  color: #000;
  padding-right: 0.3rem;
}

.location-stamp a:hover {
  color: #0000ff;
}

@media screen and (max-width: 400px) {
  .marquee-wrapper {
    margin: 0.25rem 0 0.5rem 0;
  }

  .stamp {
    font-size: 1.2rem;
    padding-right: 0.5rem;
  }

  .location-stamp a {
    padding-right: 0.2rem;
  }
}
