/* === Main Layout === */
.project-container {
  display: flex;
}

.info {
  width: 25%;
  font-family: "Unica", sans-serf;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0rem 0.425rem;
}

.slider {
  width: 75%;
  position: relative;
  height: 80vh;
  overflow: hidden;
}

/* === Image Slider === */
.slider img {
  display: none;
  width: 65rem;
  object-fit: contain;
}

.slider img.active {
  display: block;
}

/* === Navigation Zones for Slider === */
.nav-zone {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.nav-left {
  left: 0;
  cursor: w-resize;
}

.nav-right {
  right: 0;
  cursor: e-resize;
}

@media screen and (max-width: 400px) {
  .project-container {
    flex-direction: column;
  }

  .info {
    width: 100%;
    font-size: 1.2rem;
  }

  .slider {
    width: 100%;
    height: auto;
  }

  .slider img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: none;
  }

  .slider img.active {
    display: block;
  }

  .nav-zone {
    width: 50%;
    height: 100%;
  }
}
